nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
nav img {
    vertical-align: middle;
    margin-left: -14px;
}
nav a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 12px;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.right {
    float: right;
}

header {
    text-align: center;
    height: 700px;
    background-color: #9abd67;
    background-image: url("Images/skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
header h1 {
    padding-top: 222px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}
header h2 {
    margin-top: 21px;
    font-size: 24px;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    color: #f7f7f7;
}
header a {
    margin-top: 132px;
    display: block;
}

.who {
    padding: 90px 0;
    font-family: "Source Sans Pro";
    color: #454545;
}
.who h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 10px;
}
.who h3 img {
    margin-right: 20px;
    vertical-align: middle;
}
.who p {
    font-size: 18px;
}
.who p + p {
    margin-top: 30px;
}
.linkButton {
    border: 1px solid #acd373;
    color: #acd373;
    font-family: "DroidSerif";
    font-style: italic;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin-top: 45px;
}
.who .container div {
    width: 769px;
    display: inline-block;
    vertical-align: top;
}
.who .container > img {
    position: absolute;
    right: 25%;
}

.video {
    height: 519px;
    line-height: 519px;
    background: url("Images/students.jpg") no-repeat top center;
    text-align: center;
}
.video img {
    vertical-align: middle;
}

.services {
    text-align: center;
    margin-top: 75px;
    height: 663px;
}
h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #454545;
    font-weight: normal;
    padding-top: 21px;
}
.services h3 span {
    font-size: 30px;
    color: #acd373;
    font-weight: normal;
}
h4 {
    font-family: "Droid Serif", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #454545;
    font-weight: normal;
    margin-top: 13px;
    margin-bottom: 16px;
    text-align: center;
}
.services li {
    padding-right: 15px;
    display: inline-block;
    width: 372px;
    margin-top: 82px;
    text-align: left;
}
.services li div {
    display: inline-block;
    height: 84px;
    overflow: hidden;
}
.services span {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #acd373;
    font-weight: bold;
}
.services p {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    width: 283px;
    margin-top: 8px;
}
.services a {
    vertical-align: middle;
    margin-top: 64px;
}

.team {
    text-align: center;
    padding-top: 74px;
    height: 580px;
    background-color: #acd373;
}
.whiteFont {
    color: #f7f7f7;
}
.profilePic {
    border-radius: 50%;
    border: 5px solid #acd373;
    margin-top: -25%;
}
h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #acd373;
    font-weight: bold;
}
.team p {
    margin-bottom: 33px;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #787878;
    font-weight: normal;
}
.team li {
    display: inline-block;
    background-color: #f7f7f7;
    width: 256px;
    height: 263px;
    margin-top: 100px;
    padding-right: 33px;
}
.team li div {
    background-color: #ebebeb;
    width: 289px;
    height: 72px;
    line-height: 72px;
}
.team a {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}
.arrowLeft {
    display: block;
    position: absolute;
    margin-top: 200px;
    margin-left: -125px;
}
.arrowRight {
    display: block;
    position: absolute;
    margin-top: 200px;
    margin-right: -125px;
}
.hiring {
    text-align: center;
    height: 66px;
    background-color: #9abd67;
    padding-top: 44px;
}
.hiring p {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #f7f7f7;
    display: inline-block;
    padding-right: 30px;
}
.hiring a {
    text-decoration: none;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 9px 20px;
}
.works {
    text-align: center;
    margin-top: 75px;
    height: 1073px;
}
.works img {
    vertical-align: top;
}
.works ul {
    padding-top: 59px;
}
.works li {
    margin-bottom: 15px;
    display: inline-block;
    padding: 6px;
    text-align: center;
}
.works li div {
    background-color: #ebebeb;
    height: 100px;
}
.works span {
    color: #acd373;
}
h6 {
    padding-top: 25px; 
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    color: #454545; 
}
.works p {
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    color: #787878;
    margin-top: 5px;
}
.logos {
    text-align: center;
    height: 118px;
    line-height: 118px;
    background-color: #ebebeb;
}
.logos a {
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-right: 19px;
}
.testimonials {
    height: 550px;
    background: url("Images/testimonials.jpg") no-repeat center;
}
.testimonialsIntro {
    display: inline-block;
    padding-top: 120px;
}
.testimonials h3 {
    color: #f7f7f7;
    text-align: left;
}
.testimonials p {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #f7f7f7;
    width: 309px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 51px;
}
.testimonials button {
    text-decoration: none;
    text-align: center; 
    color: #acd373;
    background-color: transparent;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
    border: 1px solid #acd373;
    padding: 9px 20px;
    display: inline-block;
}
.testimonials button:hover {
    cursor: pointer;
}
.testimonials span {
    font-family: "Droid Serif", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    color: #f7f7f7;
    display: block;
    width: 369px;
    height: 144px;
    padding-top: 30px;
    padding-left: 20px;
}
.testimonials a {
    text-decoration: none;
    color: #f7f7f7;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
}
.testimonialsPic {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.testimonials .container > div {
    display: inline-block;
    padding-right: 25px;
}
.testimonialsQuoteBox {
    background-image: url("Images/testimonials_quote-box.png");
    background-repeat: no-repeat;
}
.testimonialsContact {
    display: inline-block;
}
.carousel {
    margin-top: 75px;
    margin-left: 700px;
}
.blog {
    text-align: center;
    padding-top: 86px;
    height: 604px;
}
.blogIcon {
    border-radius: 50%;
    border: 5px solid #ebebeb;
    background-color: #acd373;
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 17px;
}
.blog p {
    text-align: center;
    font-family: "Sources Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18.35px;
    width: 270px;
    height: 60px;
    margin-bottom: 8px;
}
.blog li {
    display: inline-block;
    background-color: #ebebeb;
    width: 270px;
    height: 336px;
    margin-top: 50px;
    margin-right: 10px;
}
.blog li div {
    background-color: #acd373;
    width: 270px;
    height: 50px;
    line-height: 50px;
}
.blog a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #f7f7f7;
}
.newsletter {
    text-align: center;
    height: 66px;
    background-color: #9abd67;
    padding-top: 38px;
}
.newsletter p {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #f7f7f7;
    display: inline-block;
    padding-right: 30px;
}
.newsletter form {
    display: inline-block;
}
.email {
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 14px;
    width: 178px;
    height: 30px;
    border: 1px solid #f7f7f7;
    background-color: #9abd67;
    vertical-align: middle;
    padding-left: 5px;
}
input::-webkit-input-placeholder {
    color: #f7f7f7;
}
.newsletter button {
    background-color: #f7f7f7;
    display: inline-block;
    vertical-align: middle;
    float: right;
    border: none;
    height: 34px;
}
.newsletter button:hover {
    cursor: pointer;
}
#map {
    height: 500px;
    width: 100%;
}
.contact {
    text-align: center;
    height: 683px;
    background-color: #acd373;
    padding-top: 70px;
}
.contact h3 {
    color: #f7f7f7;
    padding-bottom: 15px;
}
.form {
    display: block;
    width: 570px;
    margin-top: 33px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #f7f7f7;
    text-align: left;
    margin-left: 300px;
}
.fieldSmall, .fieldLarge {
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 15px;
    width: 557px;
    background-color: #9abd67;
    border: none;
    padding-left: 10px;
    margin-top: 10px;
}
.fieldSmall {
    height: 42px; 
}
.fieldLarge {
    height: 136px;
    padding-top: 22px;
}
textarea::-webkit-input-placeholder {
    color: #f7f7f7;
}
.contact button {
    text-decoration: none;
    text-align: center; 
    color: #f7f7f7;
    background-color: #9abd67;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
    border: none;
    padding: 9px 35px;
    display: inline-block;
    margin-top: 46px;
    float: right;
    margin-right: 300px;
}
.contact button:hover {
    cursor: pointer;
}
footer {
    height: 70px;
    background-color: #9abd67;
    width: 100%;
    padding-top: 35px;
}
footer p {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #f7f7f7;
    display: inline-block;
    margin-left: 277px;
    padding-right: 550px;
}
footer a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 3px;
}