@media all and (min-width: 361px) {
    #mobileMenu {
        display: none;
    }
}
@media all and (max-width: 360px) {
    #siteLogoImage, #arrowDown, #playIcon {
        transform: scale(0.5);
    }
    #manIcon, #iphone, #profilePic {
        transform: scale(0.75);
    }
    
    nav {
        height: auto;
        line-height: 0;
    }
    #regularMenu {
        display: none;
    }
    
    header {
        height: auto;
        background-image: url("Images/skyline-mobile.png");
    }
    header h1 {
        padding-top: 123px;
        font-size: 20px;
    }
    header h2 {
        font-size: 13px;
    }
    header a {
        margin-top: 56px;
        padding-bottom: 123px;
    }
    
    .who {
        padding: 0;
    }
    .who h3 {
        font-size: 18px;
        margin-bottom: auto;
    }
    .who h3 img {
        margin-right: auto;
    }
    .who p {
        font-size: 13px;
    }
    .who p + p {
        display: none;
        margin-top: auto;
    }
    .linkButton {
        font-size: 11px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .who .container div {
        width: auto;
        margin-left: 10px;
    }
    .who .container > img {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
    }
    
    .video {
        height: 263px;
        line-height: 263px;
        background: url("Images/students-mobile.jpg") no-repeat top center;
    }
    
    .services {
        height: auto;
        margin-top: auto;
    }
    h3 {
        font-size: 18px;
    }
    .services h3 span {
        font-size: 18px;
    }
    h4 {
        font-size: 12px;
        margin-top: 3px;
        margin-bottom: 6px;
    }
    .services li {
        width: auto;
        margin-top: 34px;
    }
    .services li:nth-of-type(n+4) {
        display: none;
    }
    .services li img {
        vertical-align: middle;
    }
    .services li div {
        height: auto;
        vertical-align: middle;
    }
    .services span {
        font-size: 14px;
    }
    .services p {
        font-size: 13px;
        width: 213px;
    }
    .services a {
        margin-top: 45px;
    }
    
    .team {
        height: auto;
        padding-top: 37px;
    }
    .team li:nth-of-type(n+2) {
        display: none;
    }
    h5 {
        font-size: 14px;
        margin-top: 0;
    }
    .team p {
        font-size: 12px;
        margin-bottom: 17px;
    }
    .team ul {
        padding-bottom: 40px;
    }
    .team li {
        height: auto;
        margin-top: 60px;
        padding-right: 0px;
    }
    .team li div {
        width: auto;
    }
    .arrowLeft {
        margin-top: 150px;
    }
    .arrowRight {
        margin-top: 150px;
    }

    .hiring p {
        font-size: 13px;
    }
    .hiring a {
        font-size: 11px;
    }
    
    .works {
        margin-top: 54px;
        height: auto;
    }
    .works li:nth-of-type(-n+2) {
        display: none;
    }
    .works li:nth-last-of-type(-n+2) {
        display: none;
    }
    .works img {
        max-width: 100%;
    }
    .works ul {
        padding-top: 28px;
    }
    works li div {
        height: auto;
    }
    h6 {
        font-size: 14px;
    }
    .works p {
        font-size: 12px;
    }
    
    .logos {
        height: auto;
    }
    .logos a {
        padding-top: 10px;
    }
    .logos a:nth-child (1) {
        display: none;
    }
    .logos img {
        max-width: 100%;
    }
    
    .testimonials {
        height: auto;
    }
    .testimonialsIntro {
        padding-top: 60px;
    }
    .testimonials p {
        font-size: 13px;
        padding-bottom: 27px;
    }
    .testimonials button {
        font-size: 11px;
    }
    
    .blog {
        padding-top: 54px;
        height: auto;
    }
    .blog p {
        font-size: 10.85px;
        width: auto;
        height: auto;
    }
    .blog li {
        width: auto;
        height: auto;
    }
    .blog li div {
        width: auto;
        height: auto;
    }
    .blog a {
        font-size: 8.28px;
    }
    
    .newsletter {
        height: auto;
        padding-top: 26px;
    }
    .newsletter p {
        font-size: 12px;
    }
    .email {
        font-size: 8.54px;
        width: auto;
        height: auto;
    }
    .newsletter button {
        height: auto;
    }
    
    #map {
        height: auto;
        width: auto;
    }
    
    .contact {
        height: auto;
        padding-top: 30px;
    }
    .form {
        width: auto;
        font-size: 14px;
        margin-left: 5px;
    }
    .fieldSmall, .fieldLarge {
        font-size: 11px;
        width: auto;
    }
    .fieldSmall {
        height: auto;
    }
    .fieldLarge {
        height: auto;
    }
    .contact button {
        font-size: 12px;
        margin-top: 26px;
    }
    
    footer {
        height: auto;
        width: auto;
        padding-top: 17px;
    }
    footer p {
        font-size: 13px;
    }
}