nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
nav img {
    vertical-align: middle;
}
nav a {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.right {
    float: right;
}

header {
    text-align: center;
    height: 700px;
    background-color: #9abd67;
    background-image: url("Images/skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
header h1 {
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}
header h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    color: #f7f7f7;
}
header a {
    margin-top: 132px;
    display: block;
}

.about {
    padding-top: 230px;
    height: 575px;
    background-image: url("Images/iphone.png");
    background-repeat: no-repeat;
    background-position: right;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #454545;
}
.inline {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
}
h3 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #454545;
    font-weight: normal;
}
.about p {
    width: 767px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.linkButton {
    text-decoration: none;
    text-align: center; 
    color: #acd373;
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
    border: 1px solid #acd373;
    padding: 9px 20px;
    display: inline-block;
}

/*
h3 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 30px;
    color: #454545;
    font-weight: normal;
}

.left {
    text-align: left;
}

.green {
    color: #acd373;
}

.white {
    color: #f7f7f7;
}

h4 {
    text-align: center;
    font-family: "Droid Serif", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #454545;
    font-weight: normal;
}

.bodycopy {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: normal;
}

.bodycopy.dark {
    color: #454545;
}

.bodycopy.light {
    color: #f7f7f7;
}

a.firstbutton {
    font-family: "Droid Serif", sans-serif;
    font-style: italic;
    font-size: 18px;
    color: #acd373;
    font-weight: normal;
    text-decoration: none;
    border: 1px solid #acd373;
}*/
